---
BasedOnStyle: Google
BreakBeforeBraces: Allman
NamespaceIndentation: All
SpaceBeforeParens: Always
AccessModifierOffset: -2
SpacesBeforeTrailingComments: 1
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
KeepEmptyLinesAtTheStartOfBlocks: true
...
